# --- Python ---
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pkl

# Virtual environments
.venv/
.uv/
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
.eggs/
pip-wheel-metadata/

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints/

# Django / Flask / FastAPI (common)
*.log
db.sqlite3

# --- IDE / Editor (VS Code) ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- OS
